/* about section mobile */

.about_container{
    height: 500px;
    width: 100%;
    background-color: aqua;
}
.about_container_left h1{
    font-size: 0px;
}
.about_container_right img{
    height: 100px;
    width: 70%;
}


/* desktop responsiveness */

@media (min-width : 1024px){
    .about_container{
        display: flex;
    }
    .about_section{
        max-height: 700px;
    }
}



/* tablet responsiveness */

@media (min-width : 768px){
    .about_container{
        height: 700px;
        width: 100%;
    }
}